:root {
  --color-font: #36393b;
  --color-primary: #a5d8ff;
  --color-secondary: #afd0d6;
  --accent-one: #bfb6bb;
  --accent-two: #c49799;
}

* {
  margin: 0;
  line-height: calc(2em + 0.5rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--color-font);
  font-size: 2rem;
}
main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
  text-align: center;
}
h1 {
  color: var(--color-font);
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  margin-bottom: 0.5em;
  margin-top: 3em;
}
.hero img {
  width: 100%;
  height: auto;
}

.hero h1 {
  padding-top: 35rem;
  font-size: 4rem;
  line-height: 1;
  text-shadow: 3px 3px 4px black;
}

.hero h1,
.hero p {
  font-family: "Roboto Condensed", serif;
  color: var(--color-secondary);
  margin: 0;
  text-align: center;
}

.hero p {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.hero {
  height: 100vh;
  position: relative;
  object-fit: fill;
}

.hero .text-wrapper {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 30%);
}
.hero img {
  height: 100%;
  object-fit: cover;
  object-position: left center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0%) 30%,
    rgb(0 0 0 / 90%)
  );
}

body header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.button {
  color: var(--color-font);
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  transition: color 300ms ease;
}
.button[href]:hover {
  color: var(--accent-two);
}

.cards {
  display: flex;
  gap: 1rem;
  margin: 0 0rem;
  padding-top: 5rem;
}
.cards img {
  width: 100%;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}
.card {
  transition: color 300ms;
  flex: 1 1 0;
  margin-bottom: 10rem;
  text-decoration: none;
  color: var(--color-font);
}

.card:hover {
  color: var(--accent-two);
}
